<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/edu.neumont.csc150/src/edu/neumont/csc150/day0103/App/Driver.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.neumont.csc150.day0103.App.Driver"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="edu.neumont.csc150"/>
</launchConfiguration>
